table {
  margin-left: auto;
  margin-right: auto;
}

.fumny_alert {
  display: none;
}
@media (max-width: 680px) {
  .game {
    display: none;
  }
  .fumny_pic {
    max-width: 250px;
  }
  .fumny_alert {
    display: block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
  }
  .fumny_text {
    font-size: 24px;
    font-weight: 400px;
    display: inline-block;
  }
}
.game {
  margin-top: 100px;
}
.game_wrapper {
  max-width: 700px;
  max-height: 800px;
  margin: 0 auto;
  position: relative;
}
.game_header {
  max-width: 633px;
  padding-bottom: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  padding: 15px;
}
.score_wrapper {
  display: inline-flex;
  flex-direction: column;
}
table,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
}
td {
  cursor: pointer;
  padding: 30px;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.game_title {
  margin: 0;
}
.game_alert {
  display: none;
  max-height: 145px;
  width: 195px;
  border-radius: 3px;
  padding: 20px;
  position: absolute;
  background-color: gainsboro;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.difficulty_button {
  cursor: pointer;
}
.difficulty_button:not(:last-of-type) {
  margin-right: 5px;
}
.display_block {
  display: block;
}
.main_title {
  margin: 0;
  font-size: 55px;
  font-weight: 700;
}
